// Custom Variables

body {
  padding-top: 5rem;
  font-family: "Noto Sans Korean", sans-serif!important;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar-dark .navbar-brand {
  color: #111 !important;
}

.navbar-brand {
  font-weight: 300;
}